@page "/CProductos"

@inject IToastService toast

@using BLL

<div class="card-img">
    <div class="card-header">
        <h1>Consulta de productos</h1>
    </div>

    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label>Filtro</label>
                    <select class="form-control mr-3" @bind="Filtro">
                        <option value="0">Todo</option>
                        <option value="1">Producto ID</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Criterio</label>
                    <div class="input-group">
                        <input type="text" @bind="Criterio" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => Consultar())"><i class="oi oi-list-rich" /> Consultar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Producto Id</th>
                            <th>Nombres</th>
                            <th>Cantidad</th>
                            <th>Costo/Unidad</th>
                            <th>Precio</th>
                            <th>ITBIS(%)</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        @foreach (var item in productoList)
                        {
                            <tr>
                                <td>@item.ProductoId</td>
                                <td>@item.Nombre</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Costo_Unidad</td>
                                <td>@item.Precio</td>
                                <td>@item.ITBIS</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

@code
{
    public List<Productos> productoList { get; set; }

    [Inject]
    public ProductosBLL productosBLL { get; set; }

    public string Filtro { get; set; }

    public string Criterio { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        productoList = new List<Productos>();
        Filtro = "0";
        Criterio = string.Empty;
    }

    public async Task Consultar()
    {
        int id;
        int.TryParse(Criterio, out id);
        switch (Filtro)
        {
            case "0": //Todo
                productoList = await productosBLL.GetList(c => true);
                break;
            case "1":
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        productoList = await productosBLL.GetList(c => c.ProductoId == id);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un número");
                    }
                }
                else
                {
                    productoList = await productosBLL.GetList(c => true);
                }
                break;
        }


    }
}
